<div >
     
     <div class="row justify-content-center">
        <label for="id_dep_council_cat">Department council category:</label>&nbsp;
        <select class="form-control col-lg-5" id="id_dep_council_cat" name="Dep_council_cat">
           <option value="">-------------------------</option>  
          {% for dep_council_cat in dep_council_cats %}   
           <option value="{{dep_council_cat.name}}">{{dep_council_cat.name}}</option>  
          {% endfor %} 
        </select>
        </div><br>
      <div class="row">  
      <div class="col"> 
        <label for="id_school">School:</label>
        <select class="form-control" id="id_school" name="Skl">
           <option value="">-----------------</option>  
          {% for school in schools%}   
           <option value="{{school.name}}">{{school.name}}</option>  
          {% endfor %}       
        </select>
      </div><br>
      <div class="col"> 
        <label for="id_department">Department:</label>
        <select class="form-control" id="id_department" name="Depart">
           <option value="">-----------------</option>      
        </select>
        </div>
      </div>  
   </div>  