{% extends 'base.html' %}
{% block title %}
User announcements
{% endblock %}
{% block body %}     
<div>
{% for announce in announces %}
  <!-- {% if user not in announce.view_by.all %}
    <div class="card content" style="background-color: #a5a5a5;width: 60rem"><p>
        <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'view_announce_anct' user.username announce.pk %}">
                <h5 class="card-title">{{announce.title}}</h5>
              </a>  
              <div class="card-text">
              {{announce.sender}}<br>
              {{announce.date}}<br>
                
            </div></p>
    </div>
  {% endif %} -->
{% endfor %}
<table class="table">
    <thead>
      <tr >
        <th scope="col"></th>
        <th scope="col col-6">Title</th>
        <th scope="col">Sender</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody> 
      {% for announce in announces %}
      {% if user not in announce.view_by.all %}
      <tr style="background-color: rgba(201, 201, 201, 0.3);">
          <td scope="row">{{announce.pk}}</td>
          <td>
            <a href="{% url 'view_announce_anct' user.username announce.pk %}">
              <h5>{{announce.title}}</h5>
            </a>
          </td>
          <td><b>{{announce.sender}}</b>/{{announce.sender.category}}</td>
          <td>{{announce.date}}</td>
        </tr>
        {% else %}
        <tr >
          <td scope="row">{{announce.pk}}</td>
          <td>
            <a href="{% url 'view_announce_anct' user.username announce.pk %}">
              <h5>{{announce.title}}</h5>
            </a>
          </td>
          <td><b>{{announce.sender}}</b>/{{announce.sender.category}}</td>
          <td>{{announce.date}}</td>
        </tr>
        {% endif %}
      {% endfor %} 
    </tbody>
  </table>

</div>
{% endblock %}
{% block script %}
<script>
var x = document.getElementsByClassName("content").length; 
$(document).ready(function(){
    document.getElementById("unread").innerHTML += x + "<br/>";
})                 
</script>
{% endblock %}