{% extends 'base.html' %}
{% block title %}
User Board
{% endblock %}
{% block body %}
<div>  
  <h3><u>My Board</u></h3><br>
 <a href="{% url 'nu_announce' user.username  %}" class="btn btn-secondary" role="button">New announcement</a><br><br>  
{% for announce in announces %}  
  <div class="card content" style="background-color: rgba(126, 151, 158, 0.5)"; width: 60rem">
    <div class="card-body">
      <h5 class="card-title">
        {{announce.title}}</h5><hr>
        <div class="card-text">
          Receivers:
          {% if  announce.receiver.count == 0 %}
            ----
          {% endif %}
          {% for receiver in announce.receiver.all %}
            {{receiver.username}}||
          {% endfor %}<br> 
          Views:
          {{announce.view_by.count}}<br>
          Date:
          {{announce.date}}
        </div>
        <a href="{% url 'view_announce_brd' user.username announce.pk %}" class="card-link">View</a>
        <a href="{% url 'edit' user.username announce.pk %}" class="card-link">Edit</a>
        <a href="{% url 'delete' user.username announce.pk %}" class="card-link">Delete</a>
    </div>
  </div>
{% endfor %}
<br><br>
</div> 
{% endblock %}