
{% if cat == 'Student' %}
  {% include 'includes/student_fields.html' %}
{% endif %}
{% if cat == 'Lecturer' %}
  {% include 'includes/lecturer_fields.html' %}
{% endif %}
{% if cat == 'College council' %}
  {% include 'includes/col_council_fields.html' %}
{% endif %}
{% if cat == 'Academic council' %}
  {% include 'includes/acad_council_fields.html' %}
{% endif %}
{% if cat == 'School council' %}
  {% include 'includes/skl_council_fields.html' %}
{% endif %}
{% if cat == 'Department council' %}
  {% include 'includes/dep_council_fields.html' %}
{% endif %}
  <script>
    $('#id_school').change(function() {
      var formID = $(this).parents("form").attr("id");
        if (formID == 'user') {
          var depart_url = $('#user').data('urldepartments');
        } else {
          var depart_url = $('#anct').data('urldepartments');
        }
      let skl_select = $(this).val();
        console.log(skl_select);
        $.ajax({
        url: depart_url,
        data: {
            school: skl_select
        },
        success: function(response) {
            $('#id_department').html(response)
        }
        })
    });
    $('#id_department').change(function() {
      var formID = $(this).parents("form").attr("id");
        if (formID == 'user') {
          var level_url = $('#user').data('urllevels');
        } else {
          var level_url = $('#anct').data('urllevels');
        }
        let depart_select = $(this).val();
        console.log(depart_select);
        $.ajax({
        url: level_url,
        data: {
            department: depart_select
        },
        success: function(response) {
            $('#id_level').html(response)
        }
        })
    });
  </script>

