{% extends 'base.html' %}
{% block title %}
New announcement
  {% endblock %}
{% block body %}
<div class="col-lg-6 col-md-8 col-sm-10">
    <div class="card" style="background-color: whitesmoke">
     <div class="card-body">
      <h3 class="card-title">New Announcement</h3> 
  <form method="POST" id="anct"
    data-urlcategory="{% url 'load_category' %}"
    data-urldepartments="{% url 'load_departments' %}"
    data-urllevels="{% url 'load_levels' %}" >
    {% csrf_token %}
    {{form.as_p}}
    <label for="id_category">Category:</label>
      <select style="height:22px;margin-left:20px" id="id_category" name="Catgy">
        <option value="">----------</option>
      {% for category in categories %} 
        <option  value="{{category.name}}">{{category.name}}</option>
      {% endfor %}
      </select><br>
    <div id="id"></div>
    <button type="submit" class="btn btn-warning">create</button>
  </form>
{% endblock %}
{% block script %}
<script>
  $('#id_category').change(function() {
      let fld_url = $('#anct').data('urlcategory');
      let cat_select = $(this).val();
      console.log(cat_select);
      $.ajax({
        url: fld_url,
        data: {
          category: cat_select
        },
        success: function(response) {
          $('#id').html(response)
        }
      })
    });
</script>
{% endblock %}