{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
New announcement
  {% endblock %}
{% block body %}
<div class="col-lg-8  ">
    <div class="card" style="background-color: rgba(12, 108, 138, 0.5)">
     <div class="card-body">
      <h3 class="card-title">New Announcement</h3> 
  <form method="POST" id="anct" enctype="multipart/form-data"
    data-urlcategory="{% url 'load_category' %}"
    data-urldepartments="{% url 'load_departments' %}"
    data-urllevels="{% url 'load_levels' %}" >
    {% csrf_token %}
    {{form|crispy}}
    <label for="id_category">Category:</label>
      <select class="form-control col-lg-5" id="id_category" name="Catgy">
        <option value="">----------</option>
      {% for category in categories %} 
        <option  value="{{category.name}}">{{category.name}}</option>
      {% endfor %}
      </select><br>
    <div id="id"></div><br>
    <div class='row justify-content-center'>
      <button type="submit" class="btn btn-secondary">create</button>
    </div>  
  </form>
  </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $('#id_category').change(function() {
      let fld_url = $('#anct').data('urlcategory');
      let cat_select = $(this).val();
      console.log(cat_select);
      $.ajax({
        url: fld_url,
        data: {
          category: cat_select
        },
        success: function(response) {
          $('#id').html(response)
        }
      })
    });
</script>
{% endblock %}