{% extends 'basee.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <style>
      body  {
     background-image: url("/static/img/blue.jpg");
          background-repeat: no-repeat;
          background-size: cover;
    }
      .cover-heading{
          padding: 150px;
      }
  </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
      
      <div class="col col-lg-6 col-md-10 col-sm-10">
        <div class="row justify-content-center">
          <img src="{% static 'img/logo.png' %}" class="rounded-circle"  style="width:35%;">
        </div>
        <div class="card-body">
          <h3 class="card-title">Change Password</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-secondary">Change password</button>
      </form>
  </div>
      </div>
      </div>
      </div>
{% endblock %}