{% extends 'basee.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Register
  {% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
  <style>
      body  {
     background-image: url("/static/img/blue.jpg");
          background-repeat: no-repeat;
          background-size: cover;
    }
      .cover-heading{
          padding: 150px;
      }
  </style>
{% endblock %}
{% block body %}
  <div class="container " >
   <div class="row justify-content-center">
     <div class="col-lg-6 col-md-8 col-sm-10" >
        <div class="row justify-content-center">
            <img src="{% static 'img/logo.png' %}" class="rounded-circle" style="width:35%;">
          </div>
      
       <div class="card-body">
        <h3 class="card-title">Sign up</h3> 
          <form id="user" method="POST" novalidate
          data-urlcategory="{% url 'load_category' %}"
          data-urldepartments="{% url 'load_departments' %}"
          data-urllevels="{% url 'load_levels' %}" >
          {% csrf_token %}
          {{form|crispy}}
            <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationCustom03">Category:</label>
                  <select class="form-control" id="id_category" name="Catgy">
                      <option value="">----------</option>
                    {% for category in categories %} 
                      <option  value="{{category.name}}">{{category.name}}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">
                    Please choose a category.
                  </div>
                </div>
            </div>             
            <div id="id_cat" class="form-group">
            </div>
           <button class="btn btn-warning " type="submit">Sign Up</button>
              
          </form>
         </div>
         <div class="card-footer text-muted text-center">
           Already have an account <a href="{% url 'login'%}" ><strong>login</strong></a> instead.
         </div>
        </div>
      
    </div>
  </div>

{% endblock %}
{% block script %}
<script>
  $('#id_category').change(function() {
      let fld_url = $('#user').data('urlcategory');
      let cat_select = $(this).val();
      console.log(cat_select);
      $.ajax({
        url: fld_url,
        data: {
          category: cat_select
        },
        success: function(response) {
          $('#id_cat').html(response)
        }
      })
    });
  </script>
{% endblock %}