{% extends 'base.html' %}
{% block title %}
View_anct
  {% endblock %}
{% block body %}

  <div class="col-lg-9 p-4 border rounded">
    <div class="row ">
      <div class="col-lg-8"><h4>{{announce.title}}</h4></div>
      <div class="col-lg-4 text-muted">{{announce.date}}</div>
    </div><br><br>
      <p class="card-text mb-auto">{{announce.content}}</p><br> 
    <div class="row justify-content-center">          
      <div class="mb-1 text-muted">Created by:</div>
      <div style="margin-left: 1%;">{{announce.sender}}</div>
      <div style="margin-left: 1%;">{{user.category}}</div>
    </div>
  </div>     
{% endblock %}