{% extends 'base.html' %}
{% block title %}
View_brd
  {% endblock %}
{% block body %}

<div class="col-lg-9 p-4 border rounded">
  <div class="mb-1 text-muted"><h4>Title:</h4></div>{{announce.title}}</h4>
  <div class="mb-1 text-muted"><h4>Content:</h4></div>{{announce.content}}<br> 
  <div class="mb-1 text-muted"><h4>Date created:</h4></div>{{announce.date}}<br>   
  <div class="mb-1 text-muted"><h4>Receivers:</h4></div>
  {% for receiver in announce.receiver.all %}{{receiver}}|{% endfor %} 
  <br>
  <a href="{% url 'edit' user.username announce.pk %}" class="btn-warning">Edit</a>   
</div>  

{% endblock %}