{% extends 'base.html' %}
{% block title %}
View_brd
  {% endblock %}
{% block body %}

<div class="col-lg-9 p-4 border rounded">
  <div class="mb-1 text-muted"><h5>Title:</h5>{{announce.title}}</div>
  <div class="mb-1 text-muted"><h5>Content:</h5></div>{{announce.content}}<br> 
  {% if announce.file %}
  <a href="{% url 'home' %}media/{{announce.file}}" target="_blank">Attachment</a>
  {% endif %}
  <div class="mb-1 text-muted"><h5>Date created:</h5></div>{{announce.date}}<br>   
  <div class="mb-1 text-muted"><h5>Receivers:</h5></div>
  {% for receiver in announce.receiver.all %}{{receiver}}|{% endfor %} 
  <br>
  <a href="{% url 'announce' user.username %}" class="btn btn-outline-secondary" role="button">Back</a> 
  <a href="{% url 'edit' user.username announce.pk %}" class="btn btn-outline-secondary" role="button">Edit</a> 
</div>  

{% endblock %}